<!DOCTYPE html>
{% extends 'AIP/app.html' %}
{% load staticfiles %}
{% block title %}
    <title>About</title>
{% endblock %}
{% block content %}
    <div class="container">
        <p>AIP is a web application which created based on purpose of Assignement of Image Processing course</p>
        <p>Instead of just doing with only raw coding, i have tried to make my assignment become more attractive</p>
        <p>I hope you enjoy my webapp</p>
        <i>Best regard,</i><br>
        <b>Sang</b>
    </div>
{% endblock %}
